<span id="tikla" onclick="renkDegistir(this)">Buraya Tıkla</span>

<script>

    var yeniHalMi = false;
    function renkDegistir(gelenSey) {
  
            if (yeniHalMi) {
                gelensey.style.color = 'red';

                yeniHalMi = false;
            }

            else {
                gelensey.style.color = 'black';

                yeniHalMi = true;
            }
        }
    
</script>
