@model PublicUI.Models.Yonetici

@{
    ViewBag.Title = "Delete";
    Layout = "~/AdminUI/Views/_AdminLayout.cshtml";
}
<h3>Yöneticiyi silmek istediğinize emin misin?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Git", "Index")
        </div>
    }
</div>
